<header class="header">
  <div class="logo">DK</div>

  <nav class="nav-links">
    <a id="about-link" class="hover-link" href="#about">About me</a>
    <a id="skills-link" class="hover-link" href="#skills">Skills</a>
    <a id="projects-link" class="hover-link" href="#projects">Projects</a>
    <a id="contact-link" class="hover-link" href="#contact">Contact</a>
  </nav>

  <div class="lang-switch">
    <img id="toggle-lang" class="interactive" [src]="currentLangIcon" alt="Toggle Language" (click)="toggleLanguage()">
  </div>
</header>
