.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 75px;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3355ff;
}

.nav-links {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.nav-links a {
  margin: 0 1rem;
  text-decoration: none;
  color: #fff;
  transition: color 0.2s;
  transition: transform 0.2s ease;
}

.nav-links a:hover {
  color: #3355ff;
  transform: scale(1.2);
}

.lang-switch button {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
}

.lang-switch button.active {
  background-color: #3355ff;
  border-color: #3355ff;
}