.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background: transparent;
    font-family: Arial, sans-serif;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.footer-name {
    width: 100%;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: #3355ff;
  text-decoration: none;
  transition: all 0.2s ease;
}

.logo:hover {
  color: #f7c518;
  transform: scale(1.2);
}

h2 {
  font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s;
  transition: transform 0.2s ease;
}

.hover-link {
  position: relative;
  text-decoration: none;
  color: white;
  padding: 20px 0;
}

#legal-notice::after {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  background: url("/img/contacts_hover.png") no-repeat;
  width: 0%;
  height: 75%;

  background-size: cover;

  transform-origin: left;
  transition: width 0.3s ease;
}

#legal-notice:hover::after {
  width: 100%;
}

#github-link {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}

#github-link:hover {
  background-color: #3355ff;
}