<footer class="footer" [ngClass]="theme">
    <div class="footer-content">
        <div class="footer-name">
            <a class="logo" href="#start-screen">DK</a>
            <h2>© Daniel Krafzik 2026</h2>
        </div>

        
        <a id="legal-notice-mobile" routerLink="/legal-notice" class="hover-link mobile">{{ 'FOOTER.LEGAL' | translate }}</a>

        <nav>
            <a id="legal-notice" routerLink="/legal-notice" class="hover-link desktop">{{ 'FOOTER.LEGAL' | translate }}</a>
            <div class="link-div">
                <img src="/img/github_icon.png" alt="" class="link-icon" [class.show]="hover === 1">
                <a href="" id="github-link" class="hover-link" (mouseenter)="hover = 1" (mouseleave)="hover = 0">GitHub</a>
            </div>
            <div class="link-div">
                <img src="/img/linkedin_icon.png" alt="" class="link-icon" [class.show]="hover === 2">
                <a href="" id="linkedin-link" class="hover-link" (mouseenter)="hover = 2" (mouseleave)="hover = 0">LinkedIn</a>
            </div>
            <div class="link-div">
                <img src="/img/mail_icon.png" alt="" class="link-icon" [class.show]="hover === 3">
                <a href="" id="email-link" class="hover-link" (mouseenter)="hover = 3" (mouseleave)="hover = 0">Email</a>
            </div>
        </nav>
    </div>
</footer>
