<footer class="footer">
    <div class="footer-content">
        <div class="footer-name">
            <a class="logo" href="#start-screen">DK</a>
            <h2>© Daniel Krafzik 2026</h2>
        </div>

        <nav>
            <a id="legal-notice" routerLink="/legal-notice" class="hover-link">Legal Notice</a>
            <a href="" id="github-link" class="hover-link">GitHub</a>
            <a href="" id="linkedin-link" class="hover-link">LinkedIn</a>
            <a href="" id="email-link" class="hover-link">Email</a>
        </nav>
    </div>
</footer>
