<div class="about-me-container" id="about">
    <div class="about-me-div">
        <div class="about-me-images">
            <img src="/img/yellowpaper.png" alt="">
            <img src="/img/bluepaper.png" alt="">
            <img src="/img/pinkpaper.png" alt="">
        </div>

        <div class="about-me-content">
            <p>Who's Daniel?</p>
            <h1>About Me</h1>
            <img src="/img/line_aboutme.png" alt="">
            <p>Hey there, I'm Daniel. I'm a passionate developer who loves creating innovative solutions. My path in web development started about 3 years ago. My goal ist to keep learning and growing as a developer. So i grow into a professional in this field.</p>
            <br>
            <p>Let's collaborate and build something remarkable together!</p>
            <a href="#contact">Let's talk</a>
        </div>
    </div>
</div>
