<div class="about-me-container" id="about">
  <div class="about-me-div">
    
    <div class="about-me-images">
      <div class="paper yellowpaper-div">    
        <img src="/img/location.png" alt="">  
        <p>{{ 'ABOUT.LOCATION' | translate }}</p>          
      </div>

      <div class="paper bluepaper-div">    
        <img src="/img/travel.png" alt="">  
        <p>{{ 'ABOUT.TRAVEL' | translate }}</p>
      </div>

      <div class="paper pinkpaper-div">    
        <img src="/img/remote.png" alt="">  
        <p>{{ 'ABOUT.REMOTE' | translate }}</p>
      </div>
    </div>

    <div class="about-me-content">
      <p>{{ 'ABOUT.SUBTITLE' | translate }}</p>
      <h1>{{ 'ABOUT.TITLE' | translate }}</h1>
      <img src="/img/line_aboutme.png" alt="">
      
      <p>{{ 'ABOUT.TEXT1' | translate }}</p>
      <br>
      <p>{{ 'ABOUT.TEXT2' | translate }}</p>

      <a href="#contact">{{ 'ABOUT.BUTTON' | translate }}</a>
    </div>

  </div>
</div>
