.about-me-container {
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 25px;

    a {
        text-align: center;
        text-decoration: none;
        color: black;
        font-size: 24px;
        border: 1px solid black;
        padding: 10px 20px;
        border-radius: 25px;
        box-shadow: 3px 3px;
        width: 25%;        
        transition: all 0.2s ease;
        display: flex;
        justify-self: end;
    }

    a:hover {
        background-color: #f87a55;
        box-shadow: none;
        color: white;
        transform: translate(3px, 3px);
    }
}

.about-me-div {
    display: flex;
    flex-direction: row;
    width: 80%;
}