<div class="about-me-container">
    <div class="about-me-images">
        <img src="/img/yellowpaper.png" alt="">
        <img src="/img/bluepaper.png" alt="">
        <img src="/img/pinkpaper.png" alt="">
    </div>

    <div class="about-me-content">
        <p>Who's Daniel?</p>
        <h1>About Me</h1>
        <img src="/img/line_aboutme.png" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt beatae vel, quibusdam pariatur ipsam tempore unde culpa inventore esse illum facilis delectus impedit incidunt eos molestias repellendus dolorem dolores voluptatem.</p>
        <br>
        <p>Let's collaborate and build something remarkable together!</p>
        <button>Let's talk</button>
    </div>
</div>
