.start-screen-div {
    height: 100vh;
    background-image: url('/img/background.png');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 24px;
        border: 1px solid white;
        text-align: center;
        border-radius: 25px;
        padding: 5px;
    }

    h1 {
        font-size: 124px;
        margin: 0;
    }
}

.start-img-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 80%;

    p {
        width: 40%;
    }

    img {
        transform: rotate(10deg);
    }
}

.start-img-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.start-text-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
    
    a {
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 24px;
        border: 1px solid white;
        padding: 5px;
        border-radius: 25px;
        width: 25%;        
        transition: transform 0.2s ease;
    }

    a:hover {
        background-color: white;
        color: black;
        transform: scale(1.2);
    }

    h1 {
        text-align: right;
    }
}

.contact-links {
    position: absolute;
    bottom: 75px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: transform 0.2s ease;

    a:hover {
        transform: scale(1.2);
    }
}
