.start-screen-div {
    height: 100vh;
    background-image: url('/img/background.png');
    background-size: cover;
    background-position: center bottom;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 24px;
        border: 1px solid white;
        text-align: center;
        border-radius: 25px;
        padding: 5px;
    }

    h1 {
        font-size: 124px;
        margin: 0;
    }
}

.start-screen-content {
    width: 70%;
}

.start-img-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.greeting {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 40px;

    img {
        width: 40px;
    }
}

.start-img-text {
    display: flex;
    flex-direction: column;
    justify-content: end;

    p {
        width: 240px;
        transition: all 0.2s ease;
        margin-top: 0;
    }

    p:hover {
        width: 60%;
        background-color: #3355ff;
    }
}

.start-text-div {
    display: flex;
    flex-direction: column;
    align-items: end;
    
    a {
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 24px;
        border: 1px solid white;
        padding: 5px;
        border-radius: 25px;
        box-shadow: 3px 3px;
        width: 25%;        
        transition: transform 0.2s ease;
    }

    a:hover {
        background-color: #f87a55;
        box-shadow: none;
        transform: translate(3px, 3px);
    }

    h1 {
        text-align: right;
    }
}

.contact-links {
    position: absolute;
    bottom: 75px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: transform 0.2s ease;

    a {
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 5px;
    }

    a:hover {
        background-color: #3355ff;
    }
}

#profile-pic {
    width: 200px;
    transition: transform 0.2s ease;
    transform: rotate(10deg);
}

#profile-pic:hover {
  content: url("/img/polaroid_daniel2.png");
}

.letter {
    display: inline-block;
    transition: all 0.2s ease;
}

.letter:hover {
  color: #f7c518;
}

.letter.upper:hover {
  text-transform: lowercase;
}

.letter:not(.upper):hover {
  text-transform: uppercase;
}

.hand {
  position: absolute;
  top: 0;
  left: 160px;

  opacity: 0;
  transform-origin: center center;
  transform: translateX(0) rotate(0deg);
  transition: transform 0.4s ease, opacity 0.2s ease;

  pointer-events: none;
}

.show {
  opacity: 1;
  transform: translateX(160px) rotate(360deg);
}

@media(min-width: 1760px) {
    .start-screen-content {
        max-width: 1400px;
    }
}