<div class="start-screen-div">
    <div class="start-screen-content">
        <div>
            <div>
                <p>Hello world</p>
                <h1>Frontend</h1>
            </div>
            <img src="" alt="">
        </div>

        <div>
            <h1>DEVELOPER</h1>
            <a href="">Get in Touch</a>
        </div>
    </div>

    <div class="contact-links">
        <a href=""><img src="../img/linkedin_icon.png" alt="LinkedIn"></a>
        <a href=""><img src="../img/github_icon.png" alt="GitHub"></a>
        <a href=""><img src="../img/mail_icon.png" alt="Email"></a>
    </div>
</div>
