<div class="start-screen-div" id="start-screen">
    <div class="start-screen-content">
        <div class="start-img-div">
            <div class="start-img-text">
                <div class="greeting">
                    <img src="/img/waving_hand.png" class="hand" [class.show]="hover" alt="">
                    <p (mouseenter)="hover = true" (mouseleave)="hover = false">{{ hover ? nameText : helloText }}</p>
                </div>
                <h1><span *ngFor="let letter of letters1; let i = index" class="letter" [class.upper]="letter === letter.toUpperCase() && letter !== ' '">{{ letter }}</span></h1>
            </div>
            <img id="profile-pic" src="../img/polaroid_daniel1.png" alt="Daniel Krafzik">
        </div>

        <div class="start-text-div">
            <h1><span *ngFor="let letter of letters2; let i = index" class="letter" [class.upper]="letter === letter.toUpperCase() && letter !== ' '">{{ letter }}</span></h1>
            <a href="#contact">{{ 'HOME.CONTACT' | translate }}</a>
        </div>
    </div>

    <div class="contact-links">
        <a href="https://www.linkedin.com/in/daniel-krafzik-4b7155345/" target="_blank"><img src="../img/linkedin_icon.png" alt="LinkedIn"></a>
        <a href="https://github.com/DanielKrafzik" target="_blank"><img src="../img/github_icon.png" alt="GitHub"></a>
        <a href="#contact"><img src="../img/mail_icon.png" alt="Email"></a>
    </div>
</div>
