<div class="projects-div" id="projects">
    <div class="projects-upside">
        <div class="projects-description">
            <h2>MY CRAFT</h2>
            <h1>Projects</h1>
            <img src="/img/yellow_line.png" alt="Yellow Line">
            <p>Here are some of my recent projects:</p>
        </div>
        <div class="projects-join">
            <img src="/img/Join.png" alt="Join">
            <h2>Join</h2>
            <p>Task manager inspired by the kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </p>
        </div>
    </div>

    <div class="projects-downside">
        <div class="projects-sharkie">
            <img src="/img/Sharkie.png" alt="Sharkie">
            <h2>Sharkie</h2>
            <p>A fun shark-themed game where players navigate through the ocean to collect treasures and defeat the endboss.</p>
        </div>
        <div class="projects-pokedex">
            <img src="/img/Pokedex.png" alt="Pokedex">
            <h2>Pokedex</h2>
            <p>A comprehensive database of all Pokémon species, featuring detailed information, stats, and evolutionary chains.</p>
        </div>
    </div>

</div>