.projects-div {
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 75vh;
    flex-direction: column;
}

.projects-upside {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
    gap: 5%;

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}

.projects-join {
    img {
        aspect-ratio: 16 / 9;
        object-position: top;
    }
}

.projects-downside {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    flex-direction: row;
    gap: 5%;

    img {
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        border-radius: 10px;
    }
}

.projects-pokedex {
    img {
        object-position: top;
    }
}

.projects-description {
    width: 50%;

    img {
        width: 60%;
        height: auto;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 60px;
        margin-bottom: 0;
    }
}

.float {
    animation: floatY 2s ease-in-out infinite;
}

@keyframes floatY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.float-container {
    width: 100%;
    position: relative; 
    border-radius: 10px;
    overflow: hidden;

    img {
        display: block;
        transition: all 0.2s ease;
    }
}

.float-container:hover {

    img {     
        animation-play-state: paused;   
        background-color: rgba(0, 0, 0, 0.2);
        transform: scale(1.1);
    }

    .overlay-btn {
        opacity: 1;
    }
}

.overlay-btn {
  position: absolute;

  bottom: 10%;
  right: 5%;

  opacity: 0;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 24px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 25px;
  box-shadow: 3px 3px;
  width: 40%;        
  transition: all 0.2s ease;

  &:hover {    
    background-color: #f87a55;
    box-shadow: none;
    transform: translate(3px, 3px);
  }
}

.float-container-downside {    
    overflow: hidden;
    border-radius: 10px;
    position: relative; 
    img {
        transition: transform 0.2s ease;
        border-radius: 10px;
        display: block;
    }
}

.float-container-downside:hover {
    img {
        transform: scale(1.1);
    }

    .overlay-btn {
        opacity: 1;
    }
}

.projects-join,
.projects-sharkie,
.projects-pokedex {
    width: 50%;
}

@media(min-width: 1760px) {
    .projects-upside, .projects-downside {
        max-width: 1400px;
    }

    .projects-div {
        min-height: 50vh;
    }
}

@media (max-width: 768px) {
    .projects-downside,
    .projects-upside {
        flex-direction: column;
    }

    .projects-description,
    .projects-join,
    .projects-sharkie,
    .projects-pokedex {
        width: 100%;
    }

    .overlay-btn {
        opacity: 1;
        position: unset;
        margin: 20px 5px;
        color: black;
        border-color: black;
        padding: 10px 20px;
        font-size: 16px;
        display: flex;
        justify-self: end;
    }
}

@media (max-width: 580px) {
    .projects-downside,
    .projects-upside {
        width: 95%;
    }
}