<div class="projects-div" id="projects">
  
  <div class="projects-upside">
    
    <div class="projects-description">
      <h2>{{ 'PROJECTS.SUBTITLE' | translate }}</h2>
      <h1>{{ 'PROJECTS.TITLE' | translate }}</h1>
      <img src="/img/yellow_line.png" alt="Yellow Line">
      <p>{{ 'PROJECTS.DESCRIPTION' | translate }}</p>
    </div>

    <div class="projects-join">
      <div class="float-container">
        <img src="/img/Join.png" alt="Join" class="float">
        <a [routerLink]="['/portfolio', 'join']" class="overlay-btn">
          {{ 'PROJECTS.DETAILS' | translate }}
        </a>
      </div>
      <h2>{{ 'PROJECTS.JOIN.TITLE' | translate }}</h2>
      <p>{{ 'PROJECTS.JOIN.TEXT' | translate }}</p>
    </div>

  </div>

  <div class="projects-downside">
    
    <div class="projects-sharkie">
      <div class="float-container-downside">
        <img src="/img/Sharkie.png" alt="Sharkie">
        <a [routerLink]="['/portfolio', 'sharkie']" class="overlay-btn">
          {{ 'PROJECTS.DETAILS' | translate }}
        </a>
      </div>
      <h2>{{ 'PROJECTS.SHARKIE.TITLE' | translate }}</h2>
      <p>{{ 'PROJECTS.SHARKIE.TEXT' | translate }}</p>
    </div>

    <div class="projects-pokedex">
      <div class="float-container-downside">
        <img src="/img/Pokedex.png" alt="Pokedex">
        <a [routerLink]="['/portfolio', 'pokedex']" class="overlay-btn">
          {{ 'PROJECTS.DETAILS' | translate }}
        </a>
      </div>
      <h2>{{ 'PROJECTS.POKEDEX.TITLE' | translate }}</h2>
      <p>{{ 'PROJECTS.POKEDEX.TEXT' | translate }}</p>
    </div>

  </div>

</div>