.contact-div {
    height: 100vh;
    background-image: url('/img/contact_background.png');
    background-size: cover;
    background-position: center top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 80%;
}

.contact-info {
    img {
        justify-self: end;
    }
}

.contact-form {
    input {
        padding: 10px 20px;
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #a5861a;
    }

    input::placeholder {
        color: white;
        font-size: 20px;
    }
}