<div class="contact-div">
    <div class="contact-content">
        <div class="contact-info">
            <h2>CONTACT ME</h2>
            <h1>Ready to work together?</h1>
            <p>
                Encourage...
                <br>
                Show...
            </p>
            <img src="/img/yellow_arrow.png" alt="">
        </div>

        <div class="contact-form">
            <h2>What's your name?</h2>
            <input type="text" placeholder="Your name goes here" required>
            <h2>What's your email?</h2>
            <input type="email" placeholder="youremail@email.com" required>
            <h2>How can I help you?</h2>
            <textarea placeholder="Hello Daniel, I am interested in..." minlength="10" maxlength="500" required></textarea>
            <div>
                <input type="checkbox" required>
                <p>I've read the <a href="">privacy policy</a> and agree to the processing of my data as outlined.</p>
            </div>
            <button>Send</button>
        </div>
    </div>
</div>
