.contact-div {
    height: 100vh;
    background-image: url('/img/contact_background.png');
    background-size: cover;
    background-position: center top;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.footer-wrapper {
    width: 80%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    margin-top: 10vh;
}

.contact-info {
    max-width: 50%;

    h1 {
        font-size: 60px;
        margin-bottom: 20px;
    }
    img {
        justify-self: end;
    }
}

.contact-form {
    margin-top: 10%;

    input {
        padding: 10px 0px;
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #a5861a;
        color: white;
        font-size: 20px;
        margin-bottom: 20px;
    }

    input::placeholder {
        color: white;
        font-size: 18px;
    }

    textarea {
        padding: 10px 0px;
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #a5861a;
        resize: none;
        color: white;
        font-size: 20px;
    }

    textarea::placeholder {
        color: white;
        font-size: 18px;
    }
}

#submit-btn {
    display: flex;
    justify-self: end;
    justify-content: center;
    background-color: transparent;
    font-size: 20px;
    color: #7e7e7e;
    border: 2px solid #7e7e7e;
    border-radius: 25px;
    box-shadow: 3px 3px 0px #7e7e7e;
    width: 30%;
}

.contact-form-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;

    input {
        width: 20px;
        height: 20px;
        accent-color: #a5861a;
        background-color: transparent;
        border: 2px solid blue;
        }


    p {
        font-size: 14px;
    }

    a {
        text-decoration: none;
        color: #3355ff;
    }
}

.form-group {
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 24px;
    margin-bottom: 10px;
}

.form-group:hover {
    label {
        color: #f87a55;
    }

    input, textarea {
        border-bottom: 2px solid #3355ff;
    }
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    input {
        display: none;
    }
}

app-footer {
    width: 100%;
}