.project-detail-container {
    height: 100vh;
    background-image: url('/img/project-details_component.png');
    background-size: cover;
    background-position: center bottom;
    background-color: #1D1D1D;
;
}