p {
    font-size: 18px;
}

.project-detail-container {
    min-height: 100vh;
    background-image: url('/img/project-details_component.png');
    background-size: cover;
    background-position: center left;
    background-color: #1D1D1D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        margin-top: 0;
    }
}

.project-detail-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.project-detail-description {
    width: 40%;

    h1 {
        font-size: 54px;
        margin-bottom: 0;
    }

    img {
        width: 40%;
    }

    #span-duration {
        font-weight: bold;
    }

    .tech-div {
        display: flex;
        justify-content: space-around;
    }    
}

.detail-btn-div {
    display: flex;
    gap: 48px;
    justify-content: end;
    width: 100%;
}

.detail-btn {
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 24px;
        border: 1px solid white;
        padding: 5px;
        border-radius: 25px;
        box-shadow: 3px 3px;
        width: 25%;
        transition: transform 0.2s ease;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.detail-btn:hover {
    background-color: #f87a55;
    box-shadow: none;
    transform: translate(3px, 3px);
}

.project-detail-media {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 48px;

    img {
        width: 80%;
        aspect-ratio: 16 / 9;
        border-radius: 10px;
        object-fit: cover;
        object-position: top;
    }
}

#go-back-btn {
    position: absolute;
    top: 15%;
    left: 10%;
    background-color: transparent;
    border: none;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;

    p {
        font-weight: bold;
    }

    &:hover {
        p {
            color: #f87a55;
        }
    }
}

#next-btn {
    position: absolute;
    bottom: 10%;
    right: 10%;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;

    p {
        font-weight: bold;
    }

    &:hover {
        p {
            color: #f7c518;
        }
    }
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

@media (min-width: 1760px) {
    .project-detail-content {
        max-width: 1400px;
    }

    #go-back-btn {
        left: 50%;
        transform: translateX(-700px);
    }

    #next-btn {
        right: 50%;
        transform: translateX(700px);
    }
}

@media (max-width: 768px) {
    .project-detail-container {
        display: flex;
        flex-direction: column;
        background-image: url('/img/mobile_project_background.png');
        object-position: center top;
    }
    .project-detail-content {
        flex-direction: column;
        align-items: center;
        gap: 48px;
        margin-top: 10vh;
    }

    .project-detail-description,
    .project-detail-media {
        width: 100%;
    }

    .project-detail-description {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 25px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .project-detail-media {
        align-items: center;
    }

    .detail-btn-div {
        justify-content: center;
    }

    .button-div {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    #go-back-btn,
    #next-btn {
        position: unset;
    }

    #go-back-btn {
        color: white;
    }

    .mobile {
        display: block;
    }
    .desktop {
        display: none !important;
    }
}

@media (max-width: 580px) {
    .project-detail-content,
    .button-div {
        width: 95%;
    }
}

@media (max-width: 380px) {
    .project-detail-description {
        padding: 0;
    }
}

