<div *ngIf="currentProject" class="project-detail-container">

  <button id="go-back-btn"><img src="/img/back_arrow.png" alt=""><p>Go Back</p></button>

  <div class="project-detail-content">
    <div class="project-detail-description">
      <div>
        <h1>{{ currentProject.title }}</h1>
        <img src="/img/line_aboutme.png" alt="">
      </div>
        <h2>Description</h2>
        <p>{{ currentProject.description }}</p>
        <h2>Implementation Details</h2>
        <p>blabla</p>
        <p><span id="span-duration">Duration:</span> 5 weeks</p>
        <div></div>
    </div>

    <div class="project-detail-media">
        <img [src]="currentProject.image">
        <div>
            <a href="">GitHub</a>
            <a href="">Live Test</a>
        </div>

    </div>

  </div>

  <button id="next-btn"><p>Next Project</p> <img src="/img/next_arrow.png" alt=""></button>

</div>
