<div *ngIf="currentProject" class="project-detail-container">

  <a id="go-back-btn" href="#projects"><img src="/img/back_arrow.png" alt=""><p>{{ 'PROJECT_DETAIL.BACK' | translate }}</p></a>

  <div class="project-detail-content">
    <div class="project-detail-description">
      <div>
        <h1>{{ currentProject.title }}</h1>
        <img src="/img/line_aboutme.png" alt="">
      </div>
        <h2>{{ 'PROJECT_DETAIL.DESCRIPTION' | translate }}</h2>
        <p>{{ currentProject.descriptionKey | translate }}</p>
        <h2>{{ 'PROJECT_DETAIL.IMPLEMENTATION' | translate }}</h2>
        <p>{{ currentProject.workflowKey | translate }}</p>
        <p><span id="span-duration">{{ 'PROJECT_DETAIL.DURATION' | translate }}</span> {{ currentProject.durationKey | translate }}</p>
        <div class="tech-div">
            <span *ngFor="let tech of currentProject.technologies">{{ tech }}</span>
        </div>
    </div>

    <div class="project-detail-media">
        <img [src]="currentProject.image">
        <div class="detail-btn-div">
            <a href="{{ currentProject.github }}" class="detail-btn" target="_blank">{{ 'PROJECT_DETAIL.GITHUB' | translate }}</a>
            <a href="" class="detail-btn">{{ 'PROJECT_DETAIL.LIVE' | translate }}</a>
        </div>

    </div>

  </div>

  <a id="next-btn" [routerLink]="['/portfolio', currentProject.next]"><p>{{ 'PROJECT_DETAIL.NEXT' | translate }}</p> <img src="/img/next_arrow.png" alt=""></a>

</div>
