<div class="colleagues-div">
    <div class="colleagues-upside">
        <div class="colleagues-header">
            <img src="/img/blue_arrow.png" alt="">
            <h2>IN THEIR WORDS:</h2>
        </div>
        <h1>Colleagues' Thoughts</h1>
    </div>

    <div class="colleagues-downside">
        <div class="colleague1">
            <p>blabla</p>
            <div class="colleague-info">
                <div>
                    <h2>Hussein</h2>
                    <p>Full Stack Developer</p>
                </div>
                <img src="/img/linkedin_button.png" alt="">
            </div>
        </div>
        <div class="colleague2">
            <p>rababa</p>
            <div class="colleague-info">
                <div>
                    <h2>Kadir</h2>
                    <p>Frontend Developer</p>
                </div>
                <img src="/img/linkedin_button.png" alt="">
            </div>
        </div>
    </div>
</div>
