.colleagues-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.colleagues-upside {
    display: flex;
    justify-content: end;
}

.colleagues-header {
    display: flex;
    flex-direction: row;
}

.colleagues-downside {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
}

.colleague1,
.colleague2 {
    background: url('/img/rose_notice1.png');
    width: 40%;
    padding: 25px;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}