<div class="legal-notice">
   <div class="legal-notice-header">
      <h1>{{ 'LEGAL.TITLE' | translate }}</h1>
   </div>
  
   <div class="legal-notice-content">
      <h2>{{ 'LEGAL.IMPRINT' | translate }}</h2>
      <ul>
         <li>Daniel Krafzik</li>
         <li>Berggarten 8</li>
         <li>49134 Wallenhorst</li>
      </ul>
      <h2>{{ 'LEGAL.CONTACT' | translate }}</h2>
      <p>Email: daniel.krafzik&#64;hotmail.com</p>
      <h2>{{ 'LEGAL.TERMS' | translate }}</h2>
      <p>{{ 'LEGAL.TERMS_TEXT' | translate }}</p>
      <h2>{{ 'LEGAL.SCOPE' | translate }}</h2>
      <p>{{ 'LEGAL.SCOPE_TEXT' | translate }}</p>
      <h2>{{ 'LEGAL.RIGHTS' | translate }}</h2>
      <p>{{ 'LEGAL.RIGHTS_TEXT' | translate }}</p>
      <h2>{{ 'LEGAL.USAGE' | translate }}</h2>
      <p>{{ 'LEGAL.USAGE_TEXT' | translate }}</p>
      <h2>{{ 'LEGAL.DISCLAIMER' | translate }}</h2>
      <p>{{ 'LEGAL.DISCLAIMER_TEXT' | translate }}</p>
      <h2>{{ 'LEGAL.INDEMNITY' | translate }}</h2>
      <p>{{ 'LEGAL.INDEMNITY_TEXT' | translate }}</p>
   </div>

   <div class="footer-wrapper"><app-footer theme="dark"></app-footer></div>
   

</div>
