.legal-notice {
    height: 100vh;
    background-image: url('/img/skills_background.png');
    background-size: cover;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        color: white;
    }
}

app-footer {
    width: 100%;
    color: black ;
}