<div class="skillset-container">
    <div class="skillset-content">
        <div class="skillset-upside">
            <div class="skillset-title">
                <h2>My Stack</h2>
                <h1>Skill set</h1>
            </div>
            <div class="skillset-description">
                <p>Here you can find an overview of the technologies and tools I have experience with. I am always eager to learn new skills and expand my knowledge in the field of web development.</p>
            </div>
        </div>

        <div class="skillset-downside">
            <div class="skillset-icons" *ngFor="let skill of skills">
                <img [src]="skill.icon" [alt]="skill.name">
                <p>{{ skill.name }}</p>
            </div>
        </div>
        <img src="" alt="">
    </div>
</div>
