<div class="skillset-container" id="skills">
    <div class="skillset-content">
        <div class="skillset-upside">
            <div class="skillset-title">
                <h2>{{ 'SKILLS.SUBTITLE' | translate }}</h2>
                <h1>{{ 'SKILLS.TITLE' | translate }}</h1>
            </div>
            <div class="skillset-description">
                <p>{{ 'SKILLS.DESCRIPTION' | translate }}</p>
            </div>
            <div class="empty-space">

            </div>
        </div>

        <div class="skillset-downside">
            <div class="empty-space">

            </div>
            <div class="skillset-icons">
                <div class="skillset-icon desktop" *ngFor="let skill of skills; let i = index">
                    <img class="icon" (mouseenter)="hoverIndex = i" (mouseleave)="hoverIndex = null" [src]="hoverIndex === i ? skill.icon : skill.icon2" [alt]="skill.name">
                    
                    <p>{{ skill.name }}</p>
                </div>
                <div class="skillset-icon mobile" *ngFor="let skill of skills; let i = index">
                    <img class="icon" (mouseenter)="hoverIndex = i" (mouseleave)="hoverIndex = null" [src]="skill.icon" [alt]="skill.name">
                    
                    <p>{{ skill.name }}</p>
                </div>
            </div>
            
            <div  class="pull-img">
                <img (click)="onPeelClick()" [src]="currentPeel" class="interactive" alt="">
            </div>
        </div>
    </div>
</div>
