.skillset-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(/img/skills_background.png);
    background-size: cover;
    background-position: center;
}