.skillset-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(/img/skills_background.png);
    background-size: cover;
    background-position: center bottom;
}

.skillset-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 80%;
}

.skillset-upside {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.skillset-title {
    color: white;
    width: 20%;
        margin-right: 3%;

    h1 {
        background: url('/img/red_circle.png');
        background-size: cover;
        background-position: center;
        font-size: 36px;
        padding: 20px 60px;
        width: 150px;
    }

    h2 {
        text-align: right;
    }
}

.skillset-downside {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.skillset-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    width: 60%;
}

.skillset-icon {
    text-align: center;

    img {
        width: 60px;
        height: 60px;
    }

    p {
        margin-top: 10px;
        color: white;
    }
}

.skillset-description {
    background: url('/img/paperframe_skill.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}

.empty-space {
    width: 20%;
}

.pull-img {
        width: 20%;
        height: auto;
        transform: rotate(7deg);
    }