.skillset-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(/img/skills_background.png);
    background-size: cover;
    background-position: center bottom;
}

.skillset-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 80%;
}

.skillset-upside {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.skillset-title {
    color: white;
    width: 20%;
    margin-right: 3%;

    h1 {
        background: url('/img/red_circle.png');
        background-size: cover;
        background-position: center;
        font-size: 36px;
        padding: 20px 60px;
        width: 150px;
    }

    h2 {
        text-align: right;
    }
}

.skillset-downside {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.skillset-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    width: 60%;
}

.skillset-icon {
    text-align: center;

    img {
        width: 60px;
        height: 60px;
    }

    p {
        margin-top: 10px;
        color: white;
    }
}

.skillset-description {
    background: url('/img/paperframe_skill.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}

.empty-space {
    width: 20%;
}

.pull-img {
        width: 20%;
        height: auto;
        transform: rotate(7deg);
}

.icon {
    transition: transform 0.2s ease;
}

.icon:hover {
    transform: scale(0.8);
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

@media (max-width: 1385px) {
    .skillset-title {
        h1 {
            font-size: 24px;
            padding: 8px 12px;
            width: 120px;
            text-align: center;
        }

        h2 {
            font-size: 18px;
        }
    }
}

@media (max-width: 900px) {
    .skillset-upside {
        flex-direction: column;;
    }

    .skillset-title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .empty-space {
        display: none;
    }

    .skillset-icons {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 50px;
    }

    .skillset-container {
        height: auto;
        min-height: 100vh;
        padding-bottom: 100px;
    }

    .skillset-downside {
        flex-direction: column;

        img {
            margin-top: -150px;
        }
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}

@media (max-width: 580px) {
    .skillset-content {
        width: 95%;
    }

    .skillset-icons {
        width: 100%;
    }

    .pull-img {
        img {
            width: 150px;
        }
    }
}